@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}


@layer base {

  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-light-5 text-dark-3 dark:bg-dark-1 dark:text-light-4 h-full font-poppins;
  }

  :root {
    --radius: 0.5rem;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {

  .side-bar-li {
    @apply text-lg hover:bg-main-light hover:text-light-4 mb-3 px-2 ml-3 rounded-md py-3 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-main;
  }
}

@layer components {

  /* Button */
  .shad-button_primary {
    @apply bg-main-light hover:bg-main text-light-5 rounded-md flex gap-2 min-w-44 !important;
  }

  .shad-button_secondary {
    @apply border border-main bg-light-4 text-dark-1 hover:border-2 flex gap-2 min-w-44 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}